@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background: linear-gradient(to right, #333399, #3232ce);
}

.topbar {
    text-align: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 0px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 0px;
}

.content-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.url-input-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    width: 40%;
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.25);

}

.url-text-1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 25px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.url-input {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    background: white;
    height: 40px;
    width: 80%;
    border-radius: 15px;
    border-color: transparent;
}

input[type="text"]:focus {
    outline: none;
}

.submit-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    height: 46px;
    width: 120px;
    border-radius: 15px;
    border-color: transparent;
    background-color: rgb(236, 224, 46);
    margin-top: 0px;
    margin-bottom: 0px;
    outline: none;
}

.submit-button:focus {
    background-color: rgb(243, 227, 6);
}

.errors {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 16px;
    margin-top: 10px;
}

.result {
    font-family: 'Poppins', sans-serif;
    color: rgb(236, 224, 46);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.stats {
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 39, 39);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.original-url-link {
    font-family: 'Poppins', sans-serif;
    color: rgb(236, 224, 46);
    font-weight: 500;
    text-decoration: none;
}

.original-url-link:hover {
    color: rgb(236, 224, 46);
    text-decoration: underline;
}

.shortened-url-link {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.shortened-url-link:hover {
    color: white;
    text-decoration: underline;
}

.submit-button-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.history-container {
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.history-title {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
}

.history-table {
    text-align: center;
    min-width: 40%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.clear-history-button {
    color: red;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.messages {
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.25);
    width: 41%;
}